<!DOCTYPE html>
<html>
<head>
	<title>htz</title>

	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
			border:0;
		}
		body{
			background-color: #202020;
			height: 100%;
			width: 100%;
		}
		html{
			height: 100%;
			width: 100%;
		}

		#section4{
			position: absolute;
			bottom: 0;
		}
		#container{
			margin-left: 20%;
			margin-right: 20%;
		}
		.bg1{
			background-image: url("/static/img/beijing.jpg");
		}
	</style>
</head>
<body>
	<div id="container">
		<div id="section1"> 
		</div>

		<div id="section2"> 
		</div>
		<div id="section3"> 
		</div>
		<div id="section4"> 
			<a href="#" class="bg1" >beijing</a>

		</div>
	</div>
</body>
</html>