<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>Share</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/share.css">
</head>
<body>
  <div class="header">
    <img src="/static/img/htz.jpg" class="img-circle img-responsive center-block " style="position: relative;top: 20px;height: 20%;border: white  solid 5px ;">
    <h1 style="position: relative;top: 50px;text-align: center; ">人心惟危 道心惟微</h1>
  </div>
  <br>


  <div class="section2">
    <div class="container">
      <h1 style="text-align: center;margin-bottom: 40px; ">古圣贤先以简御繁之道</h1>
      <div class="row center">
        <div class="col-md-4">
          <img src="/static/img/liaowang.jpg" class="img-circle cirlce">
          <h3>清净本性</h3>
          <p>「本性」这个词看似简单，而实际上却是非常深邃的字眼，自古以来它真是不知困死多少英雄好汉！要了解这两个字实在不是一件简单的事！然而如来佛说「明心见性」，意思是说要了解本性之前，还必须先悟透一个比本性更难懂的名词，那就是人们的「本心」！
            大半的人总以为他们了解「心」这个简单的字，然而却深深的陷溺在那个贪嗔计较之中而无法自拔，一个被心所控制的人也算是了解心了吗？「心」既未曾了解，那么「性」这个字还有机会深入吗？心性既然未曾了解，那么修行的路要从哪里开始走起呢？
          </p>
          <a src="#" class="btn btn-success">了解更多</a>
        </div>
        <div class="col-md-4">
          <img src="/static/img/zhang.jpg" class="img-circle cirlce">
          <h3>张先生</h3>
          <p>张先生民国五十一年生生于新店中岭山上，自幼慕道，于古圣真谛渴仰不已。少时好游于宗派之间叩求人生解脱真理，但未得楔入。二十九岁拜入先师　马祖门下习道，于修性了命绝学惊叹不已。然于何者是吾人本心本性未能即刻领悟。
            三十岁为求诸佛安心妙谛，遂潜心研读三教群经，将主要经典逐条归类比对，寻找三教群圣千手共指的安心妙义。
            三十二岁始明三教八万四千法门，实乃共指同一解脱心法，无二无别。遂依群经共指之路，驻足『观心、觉性』经年，但依然未得楔悟。
          </p>
          <a src="#" class="btn btn-success">了解更多</a>
        </div>
        <div class="col-md-4">
          <img src="/static/img/s2.jpg" class="img-circle cirlce">
          <h3>道心惟</h3>
          <p>当今人类所面临的最大敌人不是癌症，而是「烦恼」！烦恼没有国界、不分年龄、不分种族，不拘派别，它无所不在，几乎没有人能例外！它才是现代人最棘手的问题所在！
            解脱烦恼罣碍的方法虽多，但其究竟的道路到底在哪里呢？六祖曰「何期自性本自清静！」六祖照见了本性之后发出这样的感叹：「没想到吾人自性的真相是如此的清静！」他感叹自己找清静找了很久，没想到它就隐藏在每个人的自性之中！
          </p>
          <a src="#" class="btn btn-success">了解更多</a>
        </div>
      </div>
    </div>
  </div><!--section2 -->

  <div class="container" style="padding-bottom: 60px;">
    <div class="row">
      <div class="col-md-5">
        <img src="/static/img/wanju.jpg" class="img-s3">
      </div>
      <div class="col-md-6 top50">
        一开始讲师操作挖掘机动作非常的慢，不能随心所欲的大幅操作，手轻轻脚慢慢，但在高手调教加上无与伦比的超强悟力，透早就对着机器比手画脚、暗自描摩，晚上再把流程Review 几回合，一回生，二回熟，练久了就游刃有余熟能生巧，操作花式也能驾轻就熟。
        一日，大顽童开着大玩具要去游街示众，首先要注意看电线，再看房子，要有昆虫复眼能观透八方。就在往行径的路大剌剌直直开去时，但因地小不足回旋，只看到电线火花直冒，原来是挖掘机手壁稍稍去"卡"到电线，也顺便碰歪了"电火条仔"，电线正值危急存亡之秋，讲师才如大梦初醒惊喊：「糟糕了！」在千钧一发之际瞬间
      </div>
    </div>

    <br>
    <br>
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-6 top50">
        我们曾经…拥有两只小土狗，一只叫『小黑』、一只叫『小白』
        牠们是最好的公关…当有客人来的时候…牠们总是…摇着尾巴『欢迎光临』！
        牠们有时…也跟小朋友一样会吵架，但是一下子又和好了！
        牠们最喜欢…追着蟾蜍到处跑，连树上的飞鼠也不放过！
        牠们肚子饿时…会抓小蚱蜢来充饥，空中飞的飞蛾…更是牠们的佳肴！
        牠们很调皮…常常喜欢乱咬鞋子、卫生纸，总是等到被发现了才罢休！
        牠们是最优秀的侦探队…，总是告诉我们哪里潜藏着危机！
        牠们很会撒娇…总是倚在拓荒者的脚边，等待着轻声细语与轻柔安抚！
        牠们做错事…总会低着头悄悄的走来，准备真心的忏悔！ 牠们是我们最贴心、
        最要好的朋友…虽然牠们都已经不在了

      </div>
      <div class="col-md-5">
      <img src="/static/img/dog.jpg" class="img-s3">
      </div>
    </div>

  </div><!--section3-->

  <footer>
    @Save Right! 2015 love zoe
  </footer>




  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
